@font-face{
    font-family:'MyriadPro-Light';
    font-display:swap;
    font-weight:300;
    src:url(/src/fonts/MyriadPro-Light.eot) format("eot"),
        url(/src/fonts/MyriadPro-Light.woff) format("woff"),
        url(/src/fonts/MyriadPro-Light.tff) format("truetype")};
@font-face{
    font-family:'MyriadPro';
    font-display:swap;
    font-weight:400;
    src:url(/src/fonts/MyriadPro-Regular.eot) format("eot"),
        url(/src/fonts/MyriadPro-Regular.woff) format("woff"),
        url(/src/fonts/MyriadPro-Regular.tff) format("truetype")};
@font-face{
    font-family:'MyriadPro-Semibold';
    font-display:swap;
    font-weight:500;
    src:url(/src/fonts/MyriadPro-Semibold.eot) format("eot"),
        url(/src/fonts/MyriadPro-Semibold.woff) format("woff"),
        url(/src/fonts/MyriadPro-Semibold.tff) format("truetype")};
@font-face{
    font-family:'MyriadPro-Bold';
    font-display:swap;
    font-weight:700;
    src:url(/src/fonts/MyriadPro-Bold.eot) format("eot"),
        url(/src/fonts/MyriadPro-Bold.woff) format("woff"),
        url(/src/fonts/MyriadPro-Bold.tff) format("truetype")};

html, body {
    height: 100%;
}

body {
    margin: 0;
    color: #282828;
    font-family: 'MyriadPro', sans-serif;
}

.container {
    width: 95%;
    max-width: 940px;
    margin: 0 auto;
}

.filter__tags {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter__tag {
    list-style: none;
    margin-right: 5px;
    margin-bottom: 5px;
}

.filter__btn {
    font-size: 15px;
    background-color: white;
    border: 1px solid #867d67;
    border-radius: 30px;
    padding: 4px 13px;
}

.filter__btn--active {
    color: white;
    background-color: #6ecd5b;
    border-color: #6ecd5b;
}

.filter__btn:hover,
.filter__btn:focus {
    outline: none;
    cursor: pointer;
    background-color: #f5f5f5;
}