@font-face{
    font-family:'MyriadPro-Light';
    font-display:swap;
    font-weight:300;
    src:url(/src/fonts/MyriadPro-Light.eot) format("eot"),
        url(/src/fonts/MyriadPro-Light.woff) format("woff"),
        url(/src/fonts/MyriadPro-Light.tff) format("truetype")}
@font-face{
    font-family:'MyriadPro';
    font-display:swap;
    font-weight:400;
    src:url(/src/fonts/MyriadPro-Regular.eot) format("eot"),
        url(/src/fonts/MyriadPro-Regular.woff) format("woff"),
        url(/src/fonts/MyriadPro-Regular.tff) format("truetype")}
@font-face{
    font-family:'MyriadPro-Semibold';
    font-display:swap;
    font-weight:500;
    src:url(/src/fonts/MyriadPro-Semibold.eot) format("eot"),
        url(/src/fonts/MyriadPro-Semibold.woff) format("woff"),
        url(/src/fonts/MyriadPro-Semibold.tff) format("truetype")}
@font-face{
    font-family:'MyriadPro-Bold';
    src:url(/src/fonts/MyriadPro-Bold.eot) format("eot"),
        url(/src/fonts/MyriadPro-Bold.woff) format("woff"),
        url(/src/fonts/MyriadPro-Bold.tff) format("truetype")}

html, body {
    height: 100%;
}

body {
    margin: 0;
    color: #4f4f4f;
    font-family: 'MyriadPro', sans-serif;
}

.container {
    width: 95%;
    max-width: 940px;
    margin: 0 auto;
}

.header-top {
    background: linear-gradient(to bottom,#fff 0,#fff 29%,#fdfdfd 37%,#e7e6e6 86%,#e2e2e2);
}

.header-top__container {
    position: relative;
    padding: 15px 0 10px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #ccc, #fff, #ccc);
    padding: 5px;
}

.header__par {
    margin: 0 0 0 160px;
    font-family: 'MyriadPro-Bold', sans-serif;
    color: #867d67;
    text-transform: uppercase;
    font-size: 20px;
}

.logo__img {
    display: block;
}

.header-nav {
    background-color: #867d67;
    padding: 15px 0;
}

.nav-menu__img {
    display: block;
    width: 18px;
}

.header-nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    margin-left: 160px;
}

.mobile-nav,
.mobile-menu {
    display: none;
}

.get-price {
    width: 140px;
    white-space: nowrap;
    font-family: MyriadPro,sans-serif;
    font-size: 14px;
    padding: 10px;
    line-height: 1;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    opacity: 0.6;
    cursor: pointer;
    border-radius: 5px;
}

.get-price:hover,
.get-price:focus {
    outline: none;
}

.nav-menu {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-menu__item {
    list-style-type: none;
}

.nav-menu__link {
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 17px;
    display: block;
}

.search {
    background: linear-gradient(to top,#e2e2e1,#fffffe);
    padding: 12px 0;
}

.search__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__title {
    margin: 0;
    text-transform: uppercase;
    font-family: 'MyriadPro-Bold', sans-serif;
    font-size: 14px;
}

.search__form {
    position: relative;
}

.form__input {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 300px;
    padding: 10px 20px 15px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    font-family: 'MyriadPro',sans-serif;
    font-size: 17px;
    color: #4f4f4f;
}

.form__submit {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    border: none;
    background: url(/src/images/icon-search.svg) no-repeat center;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

.sort__title {
    margin: 0 10px 0 0;
    text-transform: uppercase;
    font-family: 'MyriadPro-Bold', sans-serif;
    font-size: 14px;
}

.sort {
    display: flex;
    align-items: center;
}

.sort-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.sort-list__item {
    list-style-type: none;
    margin-left: 20px;
}

.sort-list__btn {
    background: none;
    padding: 0;
    border: none;
    font-size: 14px;
    font-family: 'MyriadPro',sans-serif;
    color: #3a3f6d;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.sort-list__btn:after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    height: 3px;
    bottom: -5px;
    background-color: #3a3f6d;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.sort-list__btn:hover,
.sort-list__btn:focus {
    outline: none;
    cursor: pointer;
    color: #282828;
}

.sort-list__btn:hover:after,
.sort-list__btn:focus:after {
    opacity: 1;
}

.filter__tags {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter__tag {
    list-style: none;
    margin-right: 5px;
    margin-top: 5px;
}

.filter__btn {
    font-size: 14px;
    background-color: white;
    border: 1px solid #867d67;
    border-radius: 5px;
    padding: 5px 15px;
    color: #282828;
    font-family: 'MyriadPro',sans-serif;
    line-height: 1;
}

.filter__btn:hover,
.filter__btn:focus {
    outline: none;
    cursor: pointer;
    background-color: #f5f5f5;
}

.filter__btn--chosen {
    color: white;
    background-color: #867d67;
    border-color: #867d67;
}

.filter__btn--chosen:hover,
.filter__btn--chosen:focus {
    background-color: #ab8b3f;
}

.filter__title {
    font-family: MyriadPro-Bold, sans-serif;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}

.filter {
    border-bottom: 1px solid #e2e2e1;
    background-color: #f7f7f7;
    padding-top: 15px;
}

.subtitle {
    background-color: #f7f7f7;
    padding: 15px 0 25px;
}

.subtitle__par {
    margin: 0;
    text-align: center;
    font-size: 15px;
}

.worker {
    display: flex;
    border-bottom: 1px solid #e2e2e1;
    align-items: flex-start;
    padding: 20px 0;
    justify-content: space-between;
}

.worker__descr {
    width: 100%;
}

.worker__img {
    display: block;
    max-width: 140px;
    margin-right: 20px;
}

.worker__link {
    color: #ab8b3f;
    text-decoration: none;
}

.worker__link:hover,
.worker__link:focus {
    text-decoration: underline;
}

.worker__name {
    font-family: MyriadPro-Semibold, sans-serif;
    margin: 0 0 5px;
    font-size: 22px;
}

.worker__place {
    margin: 0 0 5px;
    font-size: 14px;
    text-transform: uppercase;
    background: url(/src/images/icon-pin.svg) no-repeat left center;
    padding-left: 20px;
    background-size: 12px;
    line-height: 1.3;
}

.worker__text {
    font-family: 'MyriadPro-Light', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    margin: 0 0 5px;
    width: 80%;
}

.worker__phone {
    color: #ab8b3f;
    text-decoration: none;
    background: url(/src/images/icon-phone.svg) no-repeat left center;
    background-size: 14px;
    padding-left: 20px;
    font-size: 13px;
    margin-right: 30px;
}

.worker__mail {
    color: #ab8b3f;
    text-decoration: none;
    background: url(/src/images/icon-mail.svg) no-repeat left center;
    background-size: 17px;
    padding-left: 25px;
    font-size: 13px;
}

.worker__contacts {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
}

.worker-tags__item {
    font-family: 'MyriadPro-Bold',sans-serif;
    font-size: 14px;
    list-style: none;
}

.worker-tags__item:not(:last-of-type):after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: currentColor;
    vertical-align: middle;
    margin: 0 8px;
}

.worker-tags {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

.worker__details {
    align-self: stretch;
    border-left: 1px dotted #ddd;
    padding-left: 20px;
    width: 22%;
}

.worker__price {
    border: 1px solid #ab8b3f;
    color: #ab8b3f;
    background-color: white;
    white-space: nowrap;
    font-family: 'MyriadPro',sans-serif;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    line-height: 1;
    border-radius: 5px;
}

.worker__price:hover {
    cursor: pointer;
    background-color: #ab8b3f;
    color: white;   
}

.worker__price:focus {
    outline: none;
}

.worker__projects {
    background: url(/src/images/icon-home-grey.svg) no-repeat top center;
    display: inline-block;
    padding-top: 25px;
    background-size: 20px;
    margin-top: 20px;
    margin-left: 15px;
    font-family: 'MyriadPro-Semibold',sans-serif;
    font-size: 13px;
}

.worker__price--chosen {
    background-color: #867d67;
    border-color: #867d67;
    color: white;
}

.worker__price--chosen:before {
    content: '✔';
    margin-right: 5px;
}