@media (max-width: 700px) {
    .worker {
        flex-flow: column;
    }

    .worker__details {
        padding: 0;
        border: none;
        width: 250px;
        margin: 20px auto 0;
    }

    .worker__text {
        width: 100%;
    }

    .worker-tags {
        width: 100%;
    }

    .worker__img {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .worker__projects {
        padding-top: 0;
        padding-left: 25px;
        background-position: left center;
        margin: 15px auto 0;
        display: block;
        width: max-content;
    }

    .search__container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .search__title {
        margin-right: 15px;
    }

    .sort {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .form__input {
        width: 250px;
        padding: 10px 15px;
        font-size: 15px;
    }

    .form__submit {
        width: 20px;
        height: 20px;
        right: 10px;
    }
}

@media (max-width: 480px) {
    .worker {
        align-items: center;
    }
     
    .worker__name {
        font-size: 20px;
        text-align: center;
    }

    .worker__details {
        width: 150px;
    }

    .worker__text {
        font-size: 15px;
        text-align: center;
    }

    .worker__contacts {
        justify-content: center;
    }

    .worker__place {
        width: max-content;
        margin: 0 auto 5px;
    }

    .worker-tags {
        justify-content: center;
    }
}

@media (max-width: 420px) {
    .sort {
        flex-flow: column;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .sort__title {
        margin: 0;
    }

    .sort-list__item {
        margin: 0 10px;
    }

    .form__input {
        width: 200px;
        padding: 5px 10px;
    }

    .form__submit {
        width: 17px;
        height: 17px;
    }
}

@media (max-width: 380px) {
    .worker__contacts {
        flex-flow: column;
    }

    .worker__phone {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .worker__name {
        font-size: 18px;
    }

    .worker__place {
        font-size: 13px;
    }

    .worker__img {
        max-width: 120px;
    }
}