@media (max-width: 700px) {
    .desktop-nav {
        display: none;
    }

    .get-price {
        display: none;
    }

    .mobile-menu {
        display: block;
        padding: 0;
        border: none;
        background: none;
        margin-left: auto;
    }

    .mobile-menu:focus {
        outline: none;
    }

    .mobile-menu__icon {
        display: block;
        width: 30px;
        height: 30px;
    }

    .header-nav {
        padding: 0;
        position: relative;
    }

    .header-nav__container {
        padding: 15px 0;
    }

    .mobile-nav {
        margin-left: 0;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .mobile-nav__list {
        margin: 0;
        padding: 0;
        background-color: #5e5748;
    }

    .mobile-nav__item {
        list-style: none;
    }

    .mobile-nav__link {
        border-bottom: 1px solid #867d67;
        padding: 15px;
        display: block;
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

    .open-menu {
        display: block;
        animation: open-menu 0.7s ease-in-out forwards;
        transform-origin: top right;
    }

    @keyframes open-menu {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

    .close-menu {
        display: block;
        animation: close-menu 0.7s ease-in-out forwards;
        transform-origin: top right;
    }

    @keyframes close-menu {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(0);
        }
    }

    .worker {
        flex-flow: column;
    }

    .worker__details {
        padding: 0;
        border: none;
        width: 250px;
        margin: 20px auto 0;
    }

    .worker__text {
        width: 100%;
    }

    .worker-tags {
        width: 100%;
    }

    .worker__img {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .worker__projects {
        padding-top: 0;
        padding-left: 25px;
        background-position: left center;
        margin: 15px auto 0;
        display: block;
        width: max-content;
    }

    .search__container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .search__title {
        margin-right: 15px;
    }

    .sort {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .form__input {
        width: 250px;
        padding: 10px 15px;
        font-size: 15px;
    }

    .form__submit {
        width: 20px;
        height: 20px;
        right: 10px;
    }

    .header__par {
        margin-left: 50px;
        text-align: center;
    }

    .header-top__container {
        padding: 20px 0;
    }

    .logo__img {
        max-width: 100%;
        height: 100%;
    }

    .logo {
        bottom: 5px;
        top: 5px;
        padding: 0;
        background: none;
    }
}

@media (max-width: 480px) {
    .worker {
        align-items: center;
    }
     
    .worker__name {
        font-size: 20px;
        text-align: center;
    }

    .worker__details {
        width: 150px;
    }

    .worker__text {
        font-size: 15px;
        text-align: center;
    }

    .worker__contacts {
        justify-content: center;
    }

    .worker__place {
        width: max-content;
        margin: 0 auto 5px;
    }

    .worker-tags {
        justify-content: center;
    }
}

@media (max-width: 420px) {
    .sort {
        flex-flow: column;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .sort__title {
        margin: 0;
    }

    .sort-list__item {
        margin: 0 10px;
    }

    .form__input {
        width: 200px;
        padding: 5px 10px;
    }

    .form__submit {
        width: 17px;
        height: 17px;
    }
}

@media (max-width: 380px) {
    .worker__contacts {
        flex-flow: column;
    }

    .worker__phone {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .worker__name {
        font-size: 18px;
    }

    .worker__place {
        font-size: 13px;
    }

    .worker__img {
        max-width: 120px;
    }
}